/* nav{
    background-color: #D5B0AC;
} */
.menu{
    text-align: center;
    background-color: #D5B0AC;
    margin-bottom:18px;

}
.menu_vertical{
    
}

.vertical{
    display: table;
    background-size: 100px;
    color: #402E2A;
    background-size: 100px;
    background-color: #D5B0AC;
    font-weight: bold;
}

.non_vertical{
    width: 100px;
    height: 30px;
    margin: 20px;
    color: #402E2A;
    font-weight: bold;


}

div{
    text-align: center;
}

#Item2:hover{
    color: #ffffff;
    background-color: #9CD08F;
}

